 .image{
    background-image: url(/images/infographics/login.svg) !important;
    background-repeat : no-repeat !important;
    background-color : rgb(0,0,0,72) !important;
    background-size: cover !important;
    background-position: center !important;
  }