.form-control{
    display: block;
    min-width: 35%;
    height: calc(1.25em + .5rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding : .05rem 0.5rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-label{
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 16px;
    letter-spacing: -0.05px;
    line-height: 21px; 
    color: #43425d; 
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}